<div id='contact_container'>

  <h3>Meet the team</h3>

    <div class ="contact_profiles">
      <div class="profile-image">
        <img class="prof_image" src="http://cdn1.theodysseyonline.com/files/2015/03/10/635616182942677741-406478437_content_beyonce.imgopt1000x70.jpg" alt="">
      </div>
      <div class="bio"><h4>Katy D</h4>Quo ex fugit delenit efficiantur. Id est nisl vivendum consetetur. In nostrum facilisi pro. Dolor definitionem usu ei, et dolore antiopam pri, mei sumo illud accusam ne.</div>
    </div>

    <div class ="contact_profiles">
      <div class="profile-image">
        <img class="prof_image" src="http://images.fashiontimes.com/data/images/full/61753/selena-gomez.jpg" alt="">
      </div>
      <div class="bio"><h4>Bevvie B</h4>Quo ex fugit delenit efficiantur. Id est nisl vivendum consetetur. In nostrum facilisi pro. Dolor definitionem usu ei, et dolore antiopam pri, mei sumo illud accusam ne.</div>
    </div>



    <div class ="contact_profiles">
      <div class="profile-image">
        <img class="prof_image" src="http://cdn.newsday.com/polopoly_fs/1.11500414.1456241969!/httpImage/image.jpg_gen/derivatives/display_600/image.jpg" alt="">
      </div>
      <div class="bio"><h4>Leo Y</h4>Quo ex fugit delenit efficiantur. Id est nisl vivendum consetetur. In nostrum facilisi pro. Dolor definitionem usu ei, et dolore antiopam pri, mei sumo illud accusam ne.</div>
    </div>

    <div class ="contact_profiles">
      <div class="profile-image">
        <img class="prof_image" src="http://photos.laineygossip.com/articles/ewan-depp-mortdecai-22jan15-06.jpg" alt="">
      </div>
      <div class="bio"><h4>PAUL S</h4>Quo ex fugit delenit efficiantur. Id est nisl vivendum consetetur. In nostrum facilisi pro. Dolor definitionem usu ei, et dolore antiopam pri, mei sumo illud accusam ne.</div>
    </div>




</div>
