<div class="bg-wrap background">
  <div class="search-outerwrap">
    <h2 class="search-title">FIND A NIGHTSPOT</h2>
    <div class="search-bar">
      <form class="search" action='/research'>
        <input type="text" id="tag" name="search_box" placeholder="Search by music genre or artist..." class="search-input">
        <button class="search-button"></button>

      </form>
    </div>
  </div>
</div>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

<script>

  $(function(){
    var avTags = [
      'Hip-hop',
      'RnB',
      'Drum n Bass',
      'Blues',
      'House',
      'Rock',
      'Jazz',
      'Reggae',
      'Dub Step',
      'Country',
      'Indie',
      'Pop',
      'Trance'
    ];
    $("#tag").autocomplete({
      source: avTags,
      messages: {
        noResults: '',
        results: function() {}
      }
    });
  });

</script>
