<div class="bg-wrap">
  <div class="search-outerwrap">
    <h2 class="search-title">FIND A NIGHTSPOT</h2>
    <div class="search-bar">
      <form class="search" action="/events">
        <!-- <input type="text" name="search_box" placeholder="Search by music genre or artist..." class="search-input"> -->
          <select name="search-box" class="section">
        <!-- <button class="search-button"></button> -->
      </select>
      <button>Search</button>
      </form>
    </div>
  </div>
</div>

<script>

$.ajax({
  url: "http://localhost:3000/api/genres",
  method: 'get'

}).done(function(genres){
  genres.forEach(function(genre){
    var $newOpt = $("<option>").text(genre.name);
    $newOpt.val(genre.id);

    $(".section").append($newOpt);
  });
});

</script>
