<button id='sortBtn'>Sort By Time</button>
<div class="list group list-all-events"></div>

<script id="events-template" type='text/x-handlebars-template'>
<a href="/events/{{id}}">
  <div class="item" data-venue-id="{{ id }}">
    <div class="venue-image">
      <img src="{{ image_url }}">
    </div>

    <div class="venue-details-wrap">

      <div class="venue-type">
        <h2>{{ type }}</h2>
      </div>

      <div class="venue-name">
        <h2>{{ name }}</h2>
      </div>

      <div class="venue-suburb">
        <h2>@ {{ venue }}</h2>
        <h3>{{event_time}}</h3>
      </div>


    </div>
  </div>
</a>
</script>

<script id="event-details-template" type='text/x-handlebars-template'>

  <div class="item-detail" data-venue-id="{{ id }}">

    <div class="venue-image">
      <img src="{{ image_url }}">
    </div>

    <div class="venue-details-wrap">

      <div class="venue-type">
        <h2>{{ type }}</h2>
      </div>

      <div class="venue-name">
        <h2>{{ name }}</h2>
      </div>

      <div class="venue-address">
        <h2>{{ address }}</h2>
      </div>

      <div class="venue-suburb">
        <h2>{{ suburb }}</h2>
      </div>

      <div class="venue-desc">
        <h2>{{ desc }}</h2>
      </div>

    </div>

  </div>

  <div class="back">BACK</div>

</script>
