<div class="details">
  <div class="event-image">
    <img src="<%= @event.image%>">
  </div>
  <div class="venue-details-wrap">
      <h2><%= @event.genre.name %></h2>
  </div>
  <div class="event-time">
    <h2><%= formatted_date(@event.event_time) %></h2>
    
  </div>
  <div class="event-venue">
    <h2><%= @event.venue.name %></h2>
  </div>
  <div class="event-description">

  </div>
</div>
