<!-- <script type="text/javascript">
   var login = <% if current_user %>"<%= true %>"<% else %>"<%= false %>"<% end %>
   console.log("Session id: ", login);
   if (login == "false"){
      console.log("Hiding input.");
      $('#input_comment').hide();
   };
</script> -->

<div class="list"></div>

<script id="venues-template" type='text/x-handlebars-template'>

  <div class="item" data-venue-id="{{ id }}">

    <div class="venue-image">
      <img src="{{ image_url }}">
    </div>

    <div class="venue-details-wrap">
      <div class="venue-type">
        <h2>{{ type }}</h2>
      </div>

      <div class="venue-name">
        <h2 class='venue_like_name'>{{ name }}</h2>
        <span class='like_count'>{{ like_count }}</span>
      </div>

      <div class="venue-suburb">
        <h2 class='venue_like_name'>{{ suburb }}</h2>
        <img class='likeBtn' src="/assets/thumbs-up-08.jpg" alt="" />
      </div>
    </div>

  </div>

</script>

<!--======================below is venue show template ========================  -->
<script id="venue-details-template" type='text/x-handlebars-template'>

  <div class="item-detail" data-venue-id="{{ id }}">

    <div class="venue-image">
      <img src="{{ image_url }}">
    </div>

    <div class="venue-details-wrap">

      <div class="venue-type">
        <h2>{{ type }}</h2>
      </div>

      <div class="venue-name">
        <h2>{{ name }}</h2>
      </div>

      <div class="venue-address">
        <h2>{{ address }}</h2>
      </div>

      <div class="venue-suburb">
        <h2>{{ suburb }}</h2>
      </div>

      <div class="venue-desc">
        <h2>{{ desc }}</h2>
      </div>

    </div>


  </div>

  <div class="back">BACK</div>
</script>

    <!--====================comment part====================  -->

    <section class='comments-part'>
        <h4>Comments:</h4>
        <article class='comments-list'>

        <script id="comments-template" type='text/x-handlebars-template'>
        <p>{{content}}   <span> ---By {{user_name}}<span></p>
        </script>

        </article>


        <textarea id="input_comment" rows="8" cols='40'></textarea>
        <br/>
        <button class="postBtn">Post It</button>
    </section>
