
.details {
  text-align: center;
  margin: 100px 100px;
}

.event-name {
  color: $sunset-orange;
}

.map {
  width: 50%;
  height: 300px;
}

.events-page > div {
  vertical-align: top;
  display: inline-block;
  line-height: 40px;
  width: 49%;
  margin-top: 20px;
}
.event-description {
  line-height: 30px;
}
.venue-details-name {
  text-align: center;
}

.events-page {
  line-height: 2;
}

#sortBtn{
  margin-left: 20px;
  margin-top: 10px;
}
