.header-wrap {
  width: 100%;
  background-color: black;
}

.logo {
  position: absolute;
  top: 0px;
  left: 18px;
  height: 17px;
  width: 253px;
  background-image: url("logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-top: 16px;
}

.menu-wrapper {
  color: white;
  line-height: 50px;
  text-align: right;
}

.menu li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
}

.bg-wrap {
  background-image: url("bg.jpg");
  height: 100%;
  background-size: cover;
  margin-top: -60px;
}

.search-outerwrap {
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  width: 90%;
  text-align: center;
}

.search-title {
  color: white;
  font-size: 32px;
  letter-spacing: 8px;
}

.search {
  position: relative;
}

.search-bar {
  text-align: center;
  padding: 20px;
  margin: 10px auto;
  text-align: center;
}

.search-input {
  padding: 18px 55px;
  width: 100%;
  border-radius: 6px;
  font-size: 15px;
  border: 0;
}

.search-button {
  width: 55px;
  height: 55px;
  margin-right: -2px;
  background-color: transparent;
  background-image: url("search.png");
  background-size: 15px 15px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
}

#status {
  color: white;
}

.login-popup-wrap {
  position: absolute;
  top: 55px;
  right: 0;
  display: none;
  background-color: #555;
  border-radius: 6px;
  border: 1px solid #DADADA;
  z-index: 2;
}

.login-popup {
  text-align: left;
  padding-left: 5px;
  padding: 20px 35px;
  padding-bottom: 10px;
}

.login-email, .login-password {
  width: 200px;
  margin-bottom: 10px;
  display: block;
}

.logout-button {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 5px 15px;
  margin-left: 5px;
  background-color: #333;
  border-radius: 6px;
  color: $sunset-orange;
  border: 1px solid $sunset-orange;
  transition: 0.3s;
}

.logout-button:hover {
  background-color: $sunset-orange;
  color: white;
}

.login {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 35px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.login-avatar {
  width: 22px;
  position: relative;
  top: 6px;
}
