// leo

.venue_like_name{
  display: inline-block;
  width: 80%;
  box-sizing: border-box;
}

.like_count{
  display: inline-block;
  width: 15%;
  box-sizing: border-box;
  background-color: #CC7800;
  text-align: center;
  border-radius: 40px;

}

.likeBtn{
  display: inline-block;
  width: 15%;
  height: 25px;
  border-radius: 30px;
  vertical-align: middle;
}

#input_comment{
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.comments-part{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.events-part{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}

.events-part h2{
  margin-bottom: 10px;
}

.event-item{
  display:inline-block;
  width: 20%;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
}

.event-item h5{
  margin: 5px;
}

.list-venue img {
  height: 280px;
  width: 100%;
}

.list .item{
 transition: .5s;
 -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
 -moz-box-shadow:    7px 7px 5px 0px rgba(0, 0, 0, 0.75);
 box-shadow:         7px 7px 5px 0px rgba(0, 0, 0, 0.75);
 overflow: hidden;
}

.list .item:hover{
 transform:translateY(0.3em);
}

.likeBtn{
 -webkit-box-shadow: 5px 5px 5px 0px rgba(10, 10, 10, 0.75);
-moz-box-shadow:    5px 5px 5px 0px rgba(10, 10, 10, 0.75);
box-shadow:         5px 5px 5px 0px rgba(10, 10, 10, 0.75);
transition: .1s;
}

.likeBtn:active{
 -webkit-box-shadow: -1px -1px 5px 0px rgba(10, 10, 10, 0.75);
-moz-box-shadow:    -1px -1px 5px 0px rgba(10, 10, 10, 0.75);
box-shadow:         -1px -1px 5px 0px rgba(10, 10, 10, 0.75);
}

// Bev
.venue-wrapper {
  width: 50%;
  margin: 0 auto;
}
.venue-options-wrap {
  width: 100%;
  margin-top: 40px;
  margin: 0 auto;
}
.venue-detail-options {
  text-align: right;
  margin: 0 auto;
  margin-top: 40px;
  display: inline-block;
  width: 35%;
  float: right;
  vertical-align: top;
}
.venue-detail-image {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  margin-top: 0px;
  position: relative;
  clear: both;
}
.venue-detail-image img {
  width: 100%;
  border-radius: 6px
}
.venue-detail-name {
  display: inline-block;
  width: 50%;
  float: left;
  margin-top: 35px;
  font-size: 30px;
}
.venue-detail-address {}
.venue-detail-suburb {}
.venue-detail-postcode {}
.venue-detail-venue-type {
  top: 12px;
  color: black;
}
.venue-detail-description {}

.venue-edit, .venue-delete {
  display: inline-block;
}
.venue-edit {
  display: inline;
  text-align: left;
  width: 70%;
}
.venue-page-edit {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
.edit-title {
  text-align: center;
  margin: 30px;
}
