// leo

.venue_like_name{
  display: inline-block;
  width: 80%;
  box-sizing: border-box;
}

.like_count{
  display: inline-block;
  width: 15%;
  box-sizing: border-box;
  background-color: #CC7800;
  text-align: center;
  border-radius: 40px;

}

.likeBtn{
  display: inline-block;
  width: 15%;
  height: 25px;
  border-radius: 30px;
  vertical-align: middle;
}

#input_comment{
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.comments-part{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.events-part{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}

.events-part h2{
  margin-bottom: 10px;
}

.event-item{
  display:inline-block;
  width: 20%;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
}

.event-item h5{
  margin: 5px;
}

// Bev
.venue-wrapper {
  width: 50%;
  margin: 0 auto;
}
.venue-options-wrap {
  width: 100%;
  margin-top: 40px;
  margin: 0 auto;
}
.venue-detail-options {
  text-align: right;
  margin: 0 auto;
  margin-top: 40px;
  display: inline-block;
  width: 35%;
  float: right;
  vertical-align: top;
}
.venue-detail-image {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  margin-top: 0px;
  position: relative;
}
.venue-detail-image img {
  width: 100%;
  border-radius: 6px
}
.venue-detail-name {
  display: inline-block;
  width: 50%;
  float: left;
  margin-top: 35px;
  font-size: 30px;
}
.venue-detail-address {}
.venue-detail-suburb {}
.venue-detail-postcode {}
.venue-detail-venue-type {
  top: 100px;
  color: black;
}
.venue-detail-description {}
