.profile-wrap {
  text-align: center;
  margin: 50px;
}

.profile-avatar {
  margin: 20px auto;
  width: 10%;
}

.profile-avatar img {
  border-radius: 50%;
}

.user-venue-wrap {
  text-align: center;
}

.item-user {
  width: 30%;
  display: inline-block;
  margin: 10px 1.5%;
  border: 1px solid black;
  position: relative;
  background-color: rgba(255,255,255,0.2);
  border-radius: 6px;
  vertical-align: top;
}

.user-h2 {
  font-size: 20px;
  margin: 20px;
}
